#head {
    text-align: center;
}
.inline {
    display: inline-block;
    margin: 10px;
}
body {
    margin:0px auto;
    padding:0px;
    text-align:center;
    width:100%;
    font-family: 'Ubuntu', sans-serif;
}